---cson
layout: 'default2'
title: 'Lecture 07: Mindreading in Humans'
subtitle: ''
weburl: ''
units: []
abstract: """
  
  """
lecture_date: '2016/11/24'
---

include ../../fragments/lecture_mixins
include ../../fragments/unit_mixins

- var images = get_images('joint_action05')


//- 
  TODO: explain what justifies attempting to avoid Bratman
  without explaining the problems?  (NB: Bratman himself doesn’t think
  that cooperation is a feature of shared intention.)

+title_slide({document:document, images:images})
  .notes: :t

+insert_unit({unit:'mindreading_is_automatic', title_slide:false, images:images, handout:true})

+insert_unit({unit:'minimal_theory_of_mind', title_slide:true, images:images, handout:true})

+insert_unit({unit:'signature_limits', title_slide:true, images:images, handout:true})

+slide_middle
  p.center.huge-glow-120 conclusion

+slide_middle
  .hem-around-children
    p Some but not all mindreading is automatic.
    p.slide: :t
      [Dual process] automatic and nonautomatic mindreading processes are distinct
      in that whether they occur and which ascriptions they yield depends on different conditions.
    p.slide: :t
      [Speed-Accuracy] automatic and nonautomatic mindreading processes allow us to make
      complementary speed-accuracy trade offs.
    p.slide: :t
      Automatic mindreading trades accuracy for speed by virtue of involving a noncanonical
      model of minds and actions.
    p.slide: :t
      And this noncanonical model is specified by minimal theory of mind.
    