---cson
layout: 'deck_unit'
title: "Ingredients for a Theory of Behaviour Reading"
tags: []
description: """
  ‘A better conception of ‘not mindreading’ would be more disparate and 
  less dependent on common sense than the current conception of behaviour reading’
  (Heyes, 2015, p. 322).
  """
---

include ../../../fragments/unit_mixins
include ../../../fragments/joint_action_mixins


+slide_middle
  p.notes.handout.show: :t
    ‘Comparative psychologists test for mindreading in non-human animals by determining whether they
    detect the presence and absence of particular cognitive states in a wide variety of
    circumstances. They eliminate potential confounding variables by ensuring that there is no one
    observable state to which subjects might be responding’ 
  .notes.handout.ctd \citep[p.~487]{halina:2015_there}.
  p.right.grey-text Halina, 2015 p. 487
  .notes: :t
    If we agree with Halina that the ‘Logical Problem’ is a logical problem, should we
    also accept her claim?
  .notes: :t
    I don’t think we should.
    Researchers have so far focussed on a sceptical problem rather than a hypothesis,
    but I think this is a mistake.

+slide_rh_white
  +left_half
    p The standard question:
    p Do nonhuman animals represent mental states or only behaviours?
    p The ‘Logical Problem’ ...
  +right_half
    p Alternative question: 
    p How might nonhuman animals model others’ behaviours, and how might they predict them?
    .slide.em-above
      p.notes.handout.show: :t
        ‘a better conception of ‘not mindreading’ would be more disparate and 
        less dependent on common sense than the current conception of behaviour reading’
      .notes.handout.ctd \citep[p.~322]{heyes:2014_animal}
      p.right.grey-text Heyes (2015, p. 322)
  
