---cson
layout: 'deck_unit'
title: "A ‘subject-determining platitude’ about colour"
tags: []
description: """
  According to Frank Jackson (1996, pp. 199–200),
  it is a ‘subject-determining platitude’
  that ‘“red” denotes the property of an object putatively presented in visual experience 
  when that object looks red’, and likewise for other colour terms.
"""
---

include ../../../fragments/unit_mixins



+slide_middle
  .notes: :t
    It has been quite widely accepted (among philosophers, at least)  that:
    %
    \begin{quote}
    ‘If someone with normal color vision looks at a tomato in good light, the tomato will appear to have a distinctive property—a property that strawberries and cherries also appear to have, and which we call ‘red’ in English’ \citep[p.\ 4]{byrne:2003_color}
    \end{quote}
    %
    Claims such as this are sometimes treated as common ground in controversies about colour.
  .handout ‘If someone with normal color vision looks at a tomato in good light, the tomato will appear to have a distinctive property—a property that strawberries and cherries also appear to have, and which we call ‘red’ in English’ \citep[p.\ 4]{byrne:2003_color}
  p: :t
    ‘If someone with normal color vision looks at a tomato in good light, 
    the tomato will appear to have a distinctive property—a property that 
    strawberries and cherries also appear to have, and which we call ‘red’ in 
    English’ 
  p.right.grey-text (Byrne & Hilbert 2003, p. 4)
  .slide
    p.em-above: :t
      It is a ‘subject-determining platitude’
      that ‘“red” denotes the property of an object putatively presented in visual experience 
      when that object looks red’, and likewise for other colour terms.
    p.right.grey-text  (Jackson 1996, pp. 199–200)
    .handout: :t
      It is a ‘subject-determining platitude’
      that ‘“red” denotes the property of an object putatively presented in visual experience 
      when that object looks red’, and likewise for other colour terms 
      \citep[pp.\ 199--200]{Jackson:1996zz}.


  
    
+slide_middle
  .handout.show
    p Simplifying assumption:
    p There is a property denoted by ‘red’ which some objects have;  call this property   
      span.italic red
      span .
  .slide
    .handout.show
      p.em-above Premise 1:
      p If the property 
        span.italic red
        span  (say) is presented in visual experience, then things which have this property  thereby differ in  visual appearance from things which do not have it.
  .slide
    .handout.show
      p.em-above Question:
      p Do red things differ in visual appearance from non-red things?