---cson
layout: 'deck_unit'
title: "Motor Representations Aren’t Intentions"
tags: []
description: """
  Explains why motor representations aren’t intentions.
  """
---

include ../../../fragments/unit_mixins


+slide_middle({bkg:'intention_and_motor_representation/Slide25.jpg'})
  .notes: :t
    As background we first need a generic distinction between content and format. 
    Imagine you are in an unfamiliar city and are trying to get to the central station. 
    A stranger offers you two routes. Each route could be represented by a distinct line 
    on a paper map. The difference between the two lines is a difference in content. 
    
+slide_middle({bkg:'intention_and_motor_representation/Slide26.jpg'})
  .notes: :t
    Each of the routes could alternatively have been represented by a distinct series 
    of instructions written on the same piece of paper; these cartographic and 
    propositional representations differ in format. The format of a representation 
    constrains its possible contents. For example, a representation with a cartographic 
    format cannot represent what is represented by sentences such as `There could not be a 
    mountain whose summit is inaccessible.'\footnote{ Note that the distinction between 
    content and format is orthogonal to issues about representational medium. The maps in 
    our illustration may be paper map or electronic maps, and the instructions may be spoken, 
    signed or written. This difference is one of medium.} The distinction between content and 
    format is necessary because, as our illustration shows, each can be varied independently 
    of the other.
    
+slide_middle({bkg:'intention_and_motor_representation/Slide27.jpg'})
  .notes: :t
    Format matters because only where two representations have the same format can they be straightforwardly inferentially integrated.
  .notes: :t
    To illustrate, let’s stay with representations of routes.  
    Suppose you are given some verbal instructions describing a route. You are then shown a representation of a route on a map and asked whether this is the same route that was verbally described. You are not allowed to find out by following the routes or by imagining following them. 
    Special cases aside, answering the question will involve a process of translation because two distinct representational formats are involved, propositional and cartographic. It is not be enough that you could follow either representation of the route. You will also need to be able to translate from at least one representational format into at least one other format. 
    
+slide_middle({bkg:'intention_and_motor_representation/Slide28.jpg'})
  .notes: :t
    How in general can we identify or distinguish representational formats? Because representational formats are typically associated with characteristic performance profiles, it is sometimes possible to infer similarities and differences in representational format from similarities and differences in the processes in which representations feature. 
  .notes: :t
    To illustrate, suppose that you have a route representation and I want to work out whether it this representation has a cartographic or propositional format.  One way to do this might be to test your performance on different tasks.  If the representation is propositional you are likely to be relatively fast at identifying key landmarks but relatively slow at translating the route into a sequence of compass directions; but the converse will be true if your representation is cartographic.
    
+slide_middle({bkg:'intention_and_motor_representation/Slide29.jpg'})
  .notes: :t
    The same principle---distinguishing and identifying formats by measuring characteristic processing profile---works for mental representations too.
  .notes: :t
    To illustrate, compare imagining seeing an object moving with actually seeing it move. 
    For this comparison we need to distinguish two ways of imagining seeing. There is a way of 
    imagining seeing which phenomenologically is something like seeing except that it does not 
    necessarily involve being receptive to stimuli. This way of imagining seeing, sometimes 
    called `sensory imagining', is commonly distinguished from cognitive ways of imagining 
    seeing which might for example involve thinking about seeing.
    It is this way of imagining seeing an object move that we wish to compare with actually 
    seeing an object move. 
    
+slide_middle({bkg:'intention_and_motor_representation/Slide30.jpg'})
  .notes: :t
    Imagining seeing an object move and actually seeing an object move have similarities in characteristic performance profile.  For instance, whether an object can be seen all at once depends on its size and distance from the perceiver; strikingly, when subjects imagine seeing an object, whether they can imagine seeing it all at once depends in the same way on size and distance (\citealp{kosslyn:1978_measuring}; \citealp[p.\ 99ff]{kosslyn:1994_image}).  
  .notes: :t
    Also, how long it takes to imagine looking over an object depends on the object's subjective size in the same way that how long it would take to actually look over that object would depend on its subjective size \citep{kosslyn:1978_visual}. 
  .notes: :t
    The similarities in characteristic performance profile and the particular patterns of interference are good (if non-decisive) reasons to conjecture that imagining seeing and actually seeing involve representations with a common format. 
    
+slide_middle({bkg:'intention_and_motor_representation/Slide31.jpg'})
  .notes: :t
    One way of imagining action is phenomenologically something like acting except 
    that such imaginings are not necessarily responsive to the features of actual 
    objects and do not necessarily result in bodily movements. 
  .notes: :t
    There is evidence that the way imagining performing an action unfolds in time is 
    similar in some respects to the way actually performing an action of the same type would unfold.  
  .notes: :t
    For instance, how long it takes to imagine moving an object is closely related to 
    how long it would take to actually move that object \citep{decety:1989_timing, 
    decety:1996_imagined, Jeannerod:1994oz}. 
  .notes: :t
    In addition, for actions such as grasping the handle of a cup, manipulating the 
    target object in ways that would make the action harder (such as orienting the cup's 
    handle to make it less convenient for you to grasp) make a corresponding difference to 
    the effort involved in imagining performing the action \citep{parsons:1994_temporal, 
    frak:2001_orientation}.
    
+slide_middle({bkg:'intention_and_motor_representation/Slide32.jpg'})
  .notes: :t
    Contrast imagining rotating a ball with imagining seeing a ball rotate.
  .notes: :t
    As is implied by what we’ve already said, these have quite different characteristic performance profiles.
  .notes: :t
    How quickly the former can be done is a function of how long it would take the agent to rotate the ball, whereas how quickly the latter can be done depends on how rapidly the ball can rotate and still be perceived as rotating. 
  .notes: :t
    Further, in some cases rotating a ball clockwise is easier than rotating it anti-clockwise, and so is imagining a ball rotate.  By contrast, the effort involved in actually seeing or imagining seeing a ball rotate does not similarly differ depending on direction. 
    
    
+slide_middle({bkg:'intention_and_motor_representation/Slide33.jpg'})
  .notes: :t
+slide_middle({bkg:'intention_and_motor_representation/Slide34.jpg'})
  .notes: :t

+slide_rh_white({step:true})
  +left_half
  +right_half({step:true})
    p Only representations with a common format can be inferentially integrated.
    p Any two intentions can be inferentially integrated in practical reasoning.
    p My intention that I visit the ZiF is a propositional attitude.
    .slide
      p.em-above(style="margin-bottom:-1em;") Therefore:
      +show('.step2')
  .clear
  +left_half
    p No motor representations are propositional attitudes.
  +right_half
    p.step2.hide All intentions are propositional attitudes
  .slide
    +run_across
      p.center No motor representations are intentions.
