--- cson
layout: 'deck_unit'
title: "Shared Intention: A Rough Guide"
tags: ['intention', 'shared-intention']
description: """
  Most philosophers agree that a notion of shared intention is needed 
  to characterise shared agency.  The idea is that shared intention
  stands to intentional joint action as ordinary, individual
  intention stands to ordinary, individual action.
  But what is shared intention?
  """
depends: ['']
source: ['']
duration: 5
---

include ../../../fragments/unit_mixins
include ../../../fragments/joint_action_mixins

+slide
  .notes: :t
    Lots of philosophers and some psychologists think that all joint actions involve 
    shared intention, and even that characterising joint action is fundamentally a matter 
    of characterising shared intention.
  p.notes.handout.show: :t
    ‘I take a collective action to involve a collective [shared] intention.’
  .notes.handout.ctd \citep[p.~5]{Gilbert:2006wr}
  p.right.grey-text (Gilbert 2006, p. 5)
  .slide
    p.notes.handout.show: :t
      ‘The sine qua non of collaborative action is a joint goal [shared intention] and a joint commitment’ 
    .notes.handout.ctd \citep[p.~181]{tomasello:2008origins}
    p.right.grey-text (Tomasello 2008, p. 181)
  .slide
    p.notes.handout.show: :t
      ‘the key property of joint action lies in its internal component [...] in the participants’ having 
      a “collective” or “shared” intention.’ 
    .notes.handout.ctd \citep[pp.~444--5]{alonso_shared_2009}
    p.right.grey-text (Alonso 2009, pp. 444-5)
  .slide
    p.notes.handout.show: :t
      ‘Shared intentionality is the foundation upon which joint action is built.’
    .notes.handout.ctd \citep[p.~381]{carpenter:2009_howjoint}
    p.right.grey-text (Carpenter 2009, p. 381)

+slide_middle
  +question_mark
  p.center shared intention

+slide
  p Parallel with individual action ...
  .notes: :t
    It is helpful to draw a parallel with individual action ...
  .slide
    .notes: :t
      Consider Davidson’s question
    p.em-above.handout.notes.show: :t
      ‘What events in the life of a person reveal agency; what are his deeds and his 
      doings in contrast to mere happenings in history; what is the mark that 
      distinguishes his actions?’
    p.grey-text.right Davidson (1971, p. 43)
    .handout.notes.ctd \citep[p.~43]{Davidson:1971fz}
    .photobox-bottom-right
      img(src='/img/davidson.gif', style='width:250px')
    .notes: :t
      It is perhaps helpful to think of this question by contrasing actions with
      things that merely happen to an agent.
      To illustrate, we might be struck by the contrast between your arm being caused to go
      up by forces beyond your control, and the action you perform when you raise your arm.
      Or we might be struck by the contrast between mere reflexes, such as the eyeblink reflex,
      and the action of blinking your eyes (perhaps to greet someone).
    .notes.handout: :t
      ‘Echoing Wittgenstein's question about the difference, in the individual case, 
      between my arm's rising and my raising it, we can ask: what is the difference 
      between such a contrast case and corresponding shared intentional activity? 
      In the case of individual intentional human action, we can see the difference from 
      a contrast case as involving an explanatory role of relevant intentions of the 
      individual agent. ... I propose an analogous view ofthe shared case: the difference 
      in the case of shared agency involves an appropriate explanatory role of relevant 
      shared intentions. Our painting together is a shared intentional activity, 
      roughly, when we paint together because we share an intention so to act.’
      \citep[p.~10]{bratman:2014_book}


+slide({bkg:'parallel01.jpg'})
  .notes: :t
    In short, Davidson’s question is, Which events are actions? 
  .notes: :t
    Suppose we ask, Which events are actions? 
    (This is Davidson’s question.)
    Here the contrast is with things that merely happen to an agent.
    To illustrate, we might be struck by the contrast between your arm being caused to go
    up by forces beyond your control, and the action you perform when you raise your arm.
    Or we might be struck by the contrast between mere reflexes, such as the eyeblink reflex,
    and the action of blinking your eyes (perhaps to greet someone).
+slide({bkg:'parallel02.jpg'})
  .notes: :t
    One quite natural and certainly influential way to answer this question is by
    appeal to intention.  The idea is that events are actions in virtue of being
    appropriately related to an intention of yours.
  .notes: :t
    Note that I’m not confidently endorsing this answer; in fact I’m not even 
    confident that the question is ultimately the right question to ask.
    I’m just suggesting this is a reasonably straightforward starting point for us.
+slide({bkg:'parallel03.jpg'})
  .notes: :t
    This question about ordinary, individual action is parallel to our current working
    question about joint action, which we might phrase as ‘Which events are *joint* actions’ ...
+slide({bkg:'parallel04.jpg'})
  .notes: :t
    Now we can see one attraction of appealing to shared intention.
    It allows us to give a parallel answer to the question about joint action:
    a joint action is an event which is appropriately related to a shared intention.
  .notes: :t
    So to the extent that we are persuaded by the standard account of which events are actions, 
    it is natural to aim for a structurally parallel account of which events are joint actions.
    To do this we merely have to characterise shared intentions.
  .notes: :t
    As we shall see, there are long running, deep conflicts over the nature of shared 
    intention.  The range of different approaches can be quite daunting.
    This parallel between intention and shared intention is important because it is 
    a rare point on wihch almost everyone will agree.
    \textbf{Despite the disagreement on details, I think one thing almost everyone agrees about 
    is this: shared intention is to joint action at least approximately what 
    ordinary individual intention is to ordinary, individual action.}
    
+slide({bkg:'parallel05.jpg'})
  .notes: :t
    It’s important to acknowledge that we haven’t yet said anything very informative 
    about what shared intention is.  
    The question was, Which events are joint actions?  
    The answer was, those which stand in an appropriate relation to a shared intention.  
    Then we ask what a shared intention is.  
    And the answer is, it’s something in virtue of which events are joint actions.  
    I don’t think the circle makes this completely useless;
    but I’m mentioning the circularity to stress that we don’t yet have an account
    of what shared intention is.
    An account of shared intention should to provide deep insight 
    into the nature of shared agency.
    

+slide_middle
  +question_mark
  p.center shared intention
  .notes: :t
    Our current status is this: the failure of the Simple View and other simple,
    initially attractive ideas about what joint action is indicates that we
    need to consider full-blown theories about the nature of joint action.
    These are mostly accounts of shared intention, so I wanted to start by trying 
    to anchor our understanding of what shared intention is by offering a point 
    on which nearly everyone agrees.
    (The point of agreement is this: shared intention is to joint action at least approximately what 
    ordinary individual intention is to ordinary, individual action)
  .notes: :t
    So still need an account of what shared intention is.
    The first account we will look at in detail is Michael Bratman’s (well you cover 
    Searle in the seminar so I don’t need to say much about that here).
    But first I want to step back
    and cover some basics about the nature of intention very quickly.
    This will give us a sense of the options for constructing accounts of shared intention.

+slide_middle
  p 1. desire
  .container_12.em-above
    .grid_6
      p.center [water]
    .grid_6
      p.center [food]
  .notes: :t
    Suppose we lock some people for a while and then put them in a room
    where they can choose between water and food.  Different people make different 
    choices.
    Why?  A natural thought is that some desire water more than food,
    whereas others have the opposite preference at this point in their lives.
  .slide
    .clear
    p.em-above.belief 2. belief
    .notes: :t
      Now suppose that we cover the water and food so that people can’t see 
      which is which, although there are some signs (e.g. the blue cloth is a bit
      wet, indicating water; but it also has a bit of sauce on it which misleadingly
      indicates food).
      Whereas before nearly all the people got what they wanted, this time they did’t.
      Why?  A natural thought is that this is because some had false beliefs which 
      made their actions wrong.
    .notes: :t
      This is a simple illustration of the idea that actions are explained
      by beliefs and desires acting in concert.
  .slide
    p.em-above 3. intention
      span.hide.qq ?
    .notes: :t
      I’m going to take it for granted that we have clear enough reasons for
      postulating beliefs and desires in explaining at least some actions.
      But what about intention.  Why do we need intention as well?
  .slide
    +show('.qq')
    +invert('.qq')
    .notes: :t
      Actually not everyone thinks we do need intention as well as belief and desire.
      Several philosophers have argued that intentions can be reduced to beliefs or desires
      or to some strutcure of these.
    .notes: :t
      Nothing in this course will depend on these issues, so let me simply try to give
      you some pointers on why intention is at least not straightforwardly reducible to
      belief or desire.
      This will help with understanding what intention is, and so hopefully also with 
      understanding what shared intention is.
  .slide
    p.indent  = strongest desire?
    .notes: :t
      Is intention simply a strongest desire? No because you can intend to do, and do,
      things which you do not currently desire at all.  (The future-looking face of intention.)
      [Example: applying for a new job / each day is undesirable ...]
  .slide
    p.indent  = belief about what I will do?
    .notes: :t
      Is intention simply a belief about what I will do, as David Velleman has argued at length? 
      No because you can intend to do, and do, things which you do not believe you will do.  
      (Example: I know I am scatty and forgetful and almost never manage to 
      remember to buy milk on my way home.  But I do intend to buy milk, and as it happens
      today I do buy milk.  I can hardly believe that I’ve done it -- I have to keep looking
      in my bag, but in buying milk I was acting on an intention ...)
  .slide
    p.indent  = action-causing belief-desire pair
    .notes: :t
      This was Davidson’s idea.  He himself abandoned it because he realised that 
      you can have intentions which never actually cause actions.
      This is partly because intentions can be open-ended, for example with respect to
      when you wil do something.
      (You might spend your life intending to visit Berlin but never make it there.)
  .slide
    p.indent = ???
    .notes: :t
      I’m not arguing that intention can or can’t be reduced to some structure of belief and
      desire; that needn’t concern us here.  I merely want to give you a sense of why
      intention at least appears to be distinct from belief and desire.
      

+slide({bkg:'slide_budapest_lecture02_07.jpg'})
  .notes: :t
    Having considered briefly reasons for postulating beliefs, desires and intentions,
    let’s consider their formal features.
    Here is a desire ...
+slide({bkg:'slide_budapest_lecture02_08.jpg'})
  .notes: :t
    The desire has three parts, subject, attitude and content.
+slide({bkg:'slide_budapest_lecture02_09.jpg'})
  .notes: :t
    The subject is you or me or whoever.
    (The subject might not be the agent but some part of it.
    That is, we can imagine that some component of an agent, like her perceptual system or 
    motor system, represents things that she herself does not.)
+slide({bkg:'slide_budapest_lecture02_10.jpg'})
  .notes: :t
    The attitude is labelled ‘belief’ or whatever.
    These are usually distinguishes by their causal, explanatory and normative roles.
    Roughly, what makes a *belief* that Ayesha will cycle up Hármashatár hill different 
    from a *desire* that Ayesha will cycle up Hármashatár hill is that these two things
    will have different effects on the subject’s actions.
+slide({bkg:'slide_budapest_lecture02_11.jpg'})
  .notes: :t
    The content is what distinguishes one belief from all others, or one desire from all others.
    The content is also what determines whether a belief is true or false, and whether a 
    desire is satisfied or unsatisfied.
+slide({bkg:'slide_budapest_lecture02_12.jpg'})
  .notes: :t
    There are two main tasks in constructing a theory of mental states. 
    The first task is to characterise the different attitudes.
    This typically involves specifying their distinctive functional and normative roles.
    The second task is to find a scheme for specifying the contents of mental states.
+slide({bkg:'slide_budapest_lecture02_13.jpg'})
  .notes: :t
    The second task is to find a scheme for specifying the contents of mental states.
    Usually this is done with propositions (and we don’t need to worry about that here).
+slide({bkg:'slide_budapest_lecture02_11.jpg'})
  .notes: :t
    Most philosophers think that shared intention is special with respect to at least
    one of subject, attitude and content.  However they disagree on which, and how.
  .notes: :t
    Corresponding to each of the three things--subject, attitude and content--there are
    different strategies for trying to explain shared intention.    
  .handout: :t
    Strategies for explaining shared intention:
    \begin{enumerate}
    \item mess with the subject \citep[e.g.][]{helm_plural_2008,Schmid:2008,schmid:2009_plural_bk,pettit:2006_joint}
    \item mess with the attitude  \citep[e.g.][]{Searle:1990em,gallotti:2013_social}
    \item mess with the content \citep[e.g.][]{Bratman:1993je,bratman:2014_book}
    \item mess with all three \citep[e.g][]{gilbert:2014_book}
    \end{enumerate}
    

//- Plural subject strategy
+slide({bkg:'slide_budapest_lecture02_subject.jpg'})
  .notes: :t
    Consider the subject first.
    There are two ways of messing with the subject : aggregate animals vs plural subjects 
    (collective prediction).
    The plural subect approach is more promising (this is best developed by 
    \citet{Schmid:2008,schmid:2009_plural_bk}, and, more recently, \citet{helm_plural_2008}).
+slide_middle
  p.center aggregate subject 
    span.hide.step2 vs plural subject
  .notes: :t
    ‘aggregate animal’ is a term from biology
    Philosophers like Gilbert (emulate a single agent) and \citep[p.~33]{pettit:2006_joint}:
    ‘mimic or simulate the performance of an individual agent’.
  .slide
    +show('.step2')
    .notes: :t
      Emphasize the difference between aggregate and plural subjects.
      (In the aggregate case, there is something distinct from you and I which has the 
      property.)
      TODO: non-agential example of the distinction (cluster of computers vs mere
      plurality of them, each thing warms); tricky because aggregate usually implies
      plural predication (but are there erexamples where this inference appears to 
      fail, e.g. in biology: the aggregate animal breathes but its components do 
      not collectively breathe (could there even be collective breathing?)).
  .slide
    .notes.handout.show
      p.em-above.center Plural prediction does not in itself entail aggregation!
    .notes: :t
      This distinction is often missed or confounded; it is coherent to suppose
      that there are plural subjects but no group minds, and also that there
      are group minds but not plural subjects.  (Of course the two things are 
      potentially linked.)
    .notes: :t
      The point is quite general (there are non-agential examples) and just
      basic logic.  To say that the leaves block the drain (plural predictaion)
      does not involve talking about an aggregation of leaves (their merelolgoical sum)
      or a causally integrated mass of leaves.  
      [Clearer example: ‘the mathematicians respect only each other’; it's clear we can't
      be talking about a merelogical sum because of the ‘each other’ part.]
      And conversely.
  
+slide_middle
  p.notes.handout.show ‘What is it for *us* to intend or to do something?’
  .notes.handout.ctd \citep[p.~18]{helm_plural_2008}
  p.grey-text.right Helm (2008, p. 18)
  .slide
    .notes.handout.show
      p.em-above Collective predication of intention:
      p.indent Can we intend that we φ where this is not, or not only, a matter of our each intending that we φ?
  .slide
    .notes.handout.show
      p.em-above Collective predication of intention entails shared intention?
      p.indent Is our collectively intending that we φ related to our having a shared intention?
  .slide
    .notes.handout.show
      p.em-above
        span ‘society consists of nothing but individuals. Since society consists entirely of 
        span individuals, there cannot be a group mind or group consciousness. All  
        span.consciousness consciousness 
        span  is in individual minds, in individual brains.’ 
    p.right.grey-text Searle (1990, p. 96)
    .notes.handout.ctd \citep[p.~96]{Searle:1990em}
    .notes: :t
      There’s a lot going on here. 
      (a) missing the point about plural predication (all blockages consist of nothing 
      but leaves; since blockages consist entirely of leaves, there cannot be a group blocking.)
      (b) Also (and relatedly) missing the possibility that group minds might be 
      constructed out of individual minds in some sense 
      (use the example of bee swarms (Seeley) --- the swarm consists of nothing but
      individual bees, but it is at least as plausible to think of the swarm as looking for
      a new home as it is the individual bees.)
    .slide
      +invert('.consciousness')
      .notes: :t
        (c) link between having a mind and being conscious.  Options: reject this 
        claim or reject the claim that intentionality necessarily involves consciousness.
        (Schmid does the former, I think Helm and Gilbert are inclined to the latter.)
  
//- Attitude strategy
+slide({bkg:'slide_budapest_lecture02_subject.jpg'})
  .notes: :t
    So one strategy for explaining shared intention is to try messing with the subject.
    I think this is potentially interesting, whether or not it gives us shared intention.
+slide({bkg:'slide_budapest_lecture02_12.jpg'})
  .notes: :t
    The second kind of strategy for explaining shared intention is to mess with the attitude
    Two ways of messing with the attitude: we-intentions (=mode?); team reasoning (Pacherie)
+slide({bkg:'slide_budapest_lecture02_13.jpg'})
  .notes: :t
    Finally we might try to explain shared intention just by messing with the content (that is,
    by specifying a special form that the contents of intention have).
    Two ways of messing with the content (Simple View, Bratman)
    Note that Bratman’s view involves a bit more than messing with the content: it involves a
    nested structure of intentions and knowledge states.
+slide({bkg:'slide_budapest_lecture02_11.jpg'})
  .notes: :t
    There are also strategies for explaining shared intention which mess with subject, attitude and
    content.
    Gilbert’s approach falls into this category; she thinks shared intentions have contents
    of a particular form 
    which involve us emulating a single body (thus messing with the subject) and having a 
    joint committment (again messing with the subject) which is characterised by a special
    pattern of norms (messing with the attitude).
  



//- TODO in a later unit: fill in some background on what intention does (first: grounds collective goals; second, temporal organisation)?
