---cson
layout: 'default2'
title: 'Lecture 08: Mindreading in Nonhumans'
subtitle: ''
weburl: ''
units: []
abstract: """
  
  """
lecture_date: '2016/12/01'
---

include ../../fragments/lecture_mixins
include ../../fragments/unit_mixins

- var images = get_images('bali')

+title_slide({document:document, images:images})
  .notes: :t

+insert_unit({unit:'nonhuman_mindreading_evidence', title_slide:false, images:images, handout:true})
+insert_unit({unit:'nonhuman_mindreading_question', title_slide:true, images:images, handout:true})
+insert_unit({unit:'behaviour_reading_demon', title_slide:true, images:images, handout:true})

+insert_unit({unit:'behaviour_reading', title_slide:true, images:images, handout:true})


//- 
  PLAN:
  (0) some evidence - Hare, ravens, FB chimps
  (1) the question, with the two alternatives, phrased in terms of tracking
  (2) the logical problem (cast out the demon)
  (3) should we therefore accept Halina’s idea? 
      ‘Comparative psychologists test for mindreading in non-human animals by determining whether they
      detect the presence and absence of particular cognitive states in a wide variety of
      circumstances. They eliminate potential confounding variables by ensuring that there is no one
      observable state to which subjects might be responding’ 
      \citep[p.~487]{halina:2015_there}.
  (4a) No, we should not accept Halina’s idea because there may be alternative hypotheses that we haven’t yet formulated.
  (4b) And, more importantly, it ignores a challenge about models of the mental:
      
      NB: Question is not behaviour vs mental states? (as earlier)
          BUT What could underpin nonhumans’ abilities to track others’ mental states?
      
      ‘What could someone represent that would enable her to track, at least within limits, the toxicity
      of potential food items? Here the most straightforward answer (she could represent their toxicity)
      is clearly not the only one. After all, someone might track toxicity by representing odours or by
      representing visual features associated with putrefaction, say. Suppose Sinead has no conception of
      toxins but represents the odours of food items and treats those with foul odours as dangerous to
      eat, so that she would not normally offer them to friends or family nor conceal them from
      competitors. This brings nutritional and competitive benefits obtaining which depends on facts
      about toxicity. If Sinead tends to behave in this way because of these benefits, representing
      odours enables her to track, in a limited but useful range of cases, toxicity. Our question, put
      very roughly, is whether belief has something like an odour.’

      
      Use Krupenye quote:
      ‘the present evidence may constitute an implicit understanding of belief’
      Krupenye et al, 2016:113
    
      After claiming that ‘chimpanzees understand … intentions … perception and knowledge,’ \citet{Call:2008di} qualify their claim by adding that ‘chimpanzees probably do not understand others in terms of a fully human-like belief–desire psychology’  (p.~191).
      This is true.
      The emergence in human development of the most sophisticated abilities to represent mental states
      probably depends on rich social interactions involving conversation about the mental
      \citep{Slaughter:1996fv, peterson:2003_opening, moeller:2006_relations}, on linguistic abilities
      \citep{milligan:2007_language,kovacs:2009_early},
      (\citet[p.~760]{moeller:2006_relations}: ‘Our results provide support for the concept that access
      to conversations about the mind is important for deaf children’s ToM development, in that there was
      a significant relationship between maternal talk about mental states and deaf children’s
      performance on verbal ToM tasks.’)
      and on capacities to attend to, hold in mind and inhibit things \citep{benson:2013_individual,
      devine:2014_relations}.
      These are all scarce or absent in chimpanzees and other nonhumans.
      So it seems unlikely that the ways humans at their most reflective represent mental states will
      match the ways nonhumans represent mental states.
      Reflecting on how adult humans talk about mental states is no way to understand how others
      represent them.
      But then what could enable us to understand how nonhuman animals represent mental states?
    
    
      ‘the core theoretical problem in contemporary research on animal mindreading is that the bar—the
      conception of mindreading that dominates the field—is too low, or more specifically, that it is
      too underspecified to allow effective communication among re- searchers, and reliable
      identification of evolutionary precur- sors of human mindreading through observation and experiment’
      \citep[p.~318]{heyes:2014_animal}
  (4) construct hypotheses and generate predictions
  (5) construction of an account of behaviour reading ...
  (6) ... and of minimal theory of mind
  (7) How to test their complementary predictions? (i) Altercentric interference. Signature limit, e.g. (ii) identity [Mention new FB chimp task.].

