---
layout: 'default2'
title: 'Seeing Causal Interactions'
subtitle: ''
weburl: ''
units: []
lecture_date: '2016/10/27'
---

include ../../fragments/lecture_mixins
include ../../fragments/unit_mixins

- var images = get_images('joint_action01')

+title_slide({document:document, images:images})

//- causal perception London : use the opening slides

//- origins of mind (old version)
//- http://localhost:8080/units/unit_251.html#slide-19
//- http://localhost:8080/units/unit_261.html#slide-3